<h2 class="List-Headline">Technik</h2>
<ol>
  <li>(P)Produzieren</li>
  <li>(H)2 Nahrung Handeln</li>
  <li>
    (B) Einen Arbeiter von der Farm zum Dorf bewegen. Charakter zur Farm
    bewegen. Rekrutieren und den runden Stein vom Rekrutieren-Feld auf das 2
    Kampfkarten Feld legen.
  </li>
  <li>(P)Produzieren</li>
  <li>
    (B) Einen Arbeiter vom Dorf zur Farm bewegen. Charakter zur Begegnung
    bewegen. Wenn möglich Holz,Metall, Ansehen oder Stärke bekommen, aber ohne
    Ansehen abzugeben. Rekrutieren, dabei eine Kampfkarte für die fehlende
    Nahrung einsetzen. Den runden Stein von der Bauen-Spalte auf das Feld für 2
    Stärke setzen.
  </li>
  <li>(P)Produzieren</li>
  <li>
    (B) 2 Arbeiter vom Dorf ins Gebirge versetzen. Rekrutieren. Den runden Stein
    von Mech-Einsetzen auf das Feld für 2 Coins setzen.
  </li>
  <li>(P)Produzieren</li>
  <li>
    (H) 2 Metall handeln. Über Flüsse ziehen Mech auf Farm einsetzen. Kampfkarte
    einsetzen!
  </li>
  <li>
    (B) Charakter zum Öl bewegen. Mech mit 3 Arbeitern und der Nahrung zum Öl
    bewegen. Rekrutieren und den 1. Stern ergattern.
  </li>
  <li>(P)Produzieren Entwicklung der Stärke und verbilligung der Baukosten.</li>
  <li>(H)2 Metall Handeln. Scout-Mech einsetzen. Kampfkarte einsetzen!</li>
  <li>
    (P)Produzieren - Entwicklung bei Handeln rausnehmen und Baukosten
    verrringern.
  </li>
  <li>(H)2 Metall handeln Speed Mech einsetzen. Kampfkarte einsetzen!</li>
  <li>
    (S) Stärke generieren und Denkmal bauen. Kampfkarte einsetzen! Gebäude
    abhängig vom Bonus platzieren.
  </li>
  <li>(H) 2 Holz Handeln und letzten Mech einsetzen.</li>
  <li>
    (B) Arbeiter zum Bauen verteilen. Ziel erfüllen. Einfachen Kampf gewinnen.
    Begegnung haben.
  </li>
  <li>(S) Stärke generieren und Gebäude platzieren.</li>
  <li>(B) Bewegen unter Berücksichtigung der Ziele aus Punkt 17</li>
  <li>Letzten Zug machen.</li>
</ol>

<h2 class="List-Headline">Militärisch</h2>
<ol>
  <li>(H)2 Metall Handeln</li>
  <li>(P)Produzieren</li>
  <li>(H) 2 Nahrung. Rekrutieren und den Kampkarten-Bonus freischalten.</li>
  <li>(P) Produzieren</li>
  <li>(H) 2 Nahrung handeln. Rekrutieren und den Stärke-Bonus freischalten.</li>
  <li>
    (B) Einen Arbeiter vom Dorf zur Farm bewegen. Charakter zur Farm bewegen.
    Eile-Mech auf dem Dorf einsetzen.
  </li>
  <li>(P) Produzieren</li>
  <li>(H) 2 Metall handeln und Ansehens-Bonus freischalten</li>
  <li>
    (B) Charakter zur Begegnung bewegen. Arbeiter mit Mech vom Dorf zum Gebirge
    ziehen. Fluss-Mech auf der Farm einsetzen. Bei der Begegnung Stärke oder
    Ansehen bevorzugen.
  </li>
  <li>(P) Produzieren</li>
  <li>
    (B) Mech mit einem Arbeiter von der Farm ins Gebirge ziehen. Anschließend
    mit 5 Arbeitern zum Tunnel ziehen. Charakter zum Dorf ziehen und Begegnung
    haben. Scoput-Mech einsetzen auf dem Tunnel
  </li>
  <li>(H) 2 Nahrung handeln. Letzte Rekrutierung durchführen.</li>
  <li>
    (B) Charakter zur Fabrik bewegen und Mech + 2 Arbeiter Tunnel to Tunnel
    Village. Move Mech to Another Tunnel. mech Einsetzen auf Tunnel Tundra
  </li>
  <li>
    (F) Fabrik Karte Bewegung. Mech mit 2 Arbeitern von S tunnel zur Tunnel farm
    und Tunnel Wald. Zum Schluss Kampf mit Gegner.
  </li>
</ol>

<h2 class="List-Headline">Innovativ</h2>
<ol>
  <li>(H) 2 Öl handeln</li>
  <li>(P) Produzieren</li>
  <li>(H) 2 Öl Handeln, Bewegung Entwickeln und Rekrutierung Vergünstigung</li>
  <li>(P) Produzieren</li>
  <li>
    (B) Charakter zur Farm, 1 Arbeiter vom Dorf zum Gebirge. Dann Rekrutieren
    und Kampfkarten holen.
  </li>
  <li>
    (H)2 Öl Handeln und Entwicklung Produktion steigern senken bei MEchs
    einsetzen.
  </li>
  <li>(P) Eile-Mech einsetzen auf das Dorf Kampfkarte einsetzen</li>
  <li>
    (B) 1 Arbeiter zur Farm 6 Arbeiter ins Gebirge Held zur Begegnung.
    Rekrutieren des Coins und Ansehen nehmen
  </li>
  <li>(P) Produzieren 2 Nahrung und 6 Metall Riverwalk-Mech auf Farm setzen</li>
  <li>
    (B) Farm Mech + 6 Arbeiter auf den Tunnel. Gebirge Mech und Held auf Dorf
    Begegnung. Rekrutierung Bauen auf Stärke Reward. Kampfkarte nicht vergessen!
  </li>
  <li>(P) Produzieren überspringen und Scout-Mech einsetzen</li>
  <li>
    (B) Charakter zur Fabrik ziehen. Mit Mechs Arbeiter in Tunneln verteilen.
    Rekrutieren das was noch übrig ist. Zweimal kämpfen.
  </li>
  <li>(P)Letzen Mech einsetzen.</li>
</ol>
<h2 class="List-Headline">Mechanisch</h2>
<ol></ol>
<h2 class="List-Headline">Industriell</h2>
<ol></ol>
