.card {
  width: 250px;
  height: 350px;
  position: relative;
  z-index: 2;
  border-radius: 20px;
}
.card .content {
  width: 100%;
  height: 100%;
  background-color: var(--color-gunmetal);
  border-radius: 15px;
}
.card::before,
.card::after {
  content: '';
  width: 260px;
  height: 360px;
  display: block;
  position: absolute;
  z-index: -1;
  border-radius: 20px;
  background-image: linear-gradient(0, var(--color-red), var(--color-blue));
  background-size: 100% 200%;
  background-position: center center;
  top: -5px;
  left: -5px;
  animation: spin 3000ms infinite alternate;
}
.card::after {
  filter: blur(125px);
}

@keyframes spin {
  0% {
    background-position: top center;
  }
  100% {
    background-position: bottom center;
  }
}
